.wrapp {
  width: 40rem;
  margin: 0 auto;
}

.title {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.image-parent {
  margin: 1.5rem 0;
  display: flex;
}

.selector {
  margin-top: 2rem;
  margin-left: 3rem;
}

.selector input {
  display: none;
}

.upload-file {
  display: block;
  font-weight: bold;
  font-size: 0.75rem;
  width: fit-content;
  height: fit-content;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  /* background-color: rgb(241, 241, 241); */
  border: rgb(200, 200, 200) solid 1px;
}

.upload-file:hover {
  background-color: rgb(215, 215, 215);
}

.circle {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23C8C8C8FF' stroke-width='5' stroke-dasharray='1%2c 10' stroke-dashoffset='86' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 100px;
}

.selector p {
  font-weight: bold;
  font-size: 0.75rem;
  color: gray;
}

button {
  margin-left: 0;
  padding-left: 0;
}

.location-input {
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border-bottom: solid rgb(200, 200, 200) 2px;
    margin-bottom: 3rem;
}

.button {
    padding-left: 0;
    margin-left: 0;
}