.wrap {
  display: block;
  text-align: center;
  transition: all ease 300ms;
  padding: 2rem;
  padding-top: 0;
}

.page-title {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  max-width: 55rem;
  margin: 0 auto;
  margin-top: 1rem;
  justify-content: center;
}

.option {
  max-width: 12rem;
  min-width: 12rem;
  height: 12rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  padding: 0.75rem;
  padding-bottom: 1.5rem;
  border: 2px rgb(200, 200, 200) solid;
  transition: all ease 300ms;
  -webkit-transition: transform 1.05s ease-in-out;
  -moz-transition:transform 1.05s ease-in-out;
  -ms-transition:transform 1.05s ease-in-out;
}



.option .title {
  font-weight: bold;
}

.option p {
  font-size: 0.75rem;
  color: gray;
  display: none;
}
.option:hover {
  border: 2px solid #ea4b8a;
  box-shadow: 0px 5px rgb(147, 147, 147);
}

.option:hover p {
  display: block;
  transform: translateY(-4.5rem);
}

.option:hover .translate {
  transform: translateY(-4.5rem);
}

.option:hover img {
  transform: scale(1.3);
}



.option:has(input:checked) {
  border: 2px solid #ea4b8a;
  /* box-shadow: 0px 5px rgb(147, 147, 147); */
}

.option:has(input:checked) p{
  display: block;
  transform: translateY(-4.5rem);
}

.option:has(input:checked) .translate {
  transform: translateY(-4.5rem);
}

.option:has(input:checked) img {
  transform: scale(1.3);
}


.option img {
  width: 7rem;
}

.box {
  margin-top: 0.5rem;
  display: block;
  position: relative;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-mark {
  position: absolute;
  left: 5.25rem;
  top: 10.5rem;
  bottom: 1rem;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 1rem;
}

.option:hover input ~ .check-mark {
  background-color: #ccc;
}

.option input:checked ~ .check-mark {
  background-color: #ea4b8a;
}

.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.option input:checked ~ .check-mark:after {
  display: block;
}

.option .check-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bottom p:first-child {
  font-weight: bold;
  margin-top: 2rem;
}

.bottom button {
  border: none;
  border: 2px transparent solid;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  width: 12rem;
  font-weight: bold;
  color: #eee;
  background-color: #ea4b8b;
  margin: 0.5rem 0;
  transition: 0.3s;
}

.bottom button:hover {
  color: #f00a66;
  background-color: white;
  border: 2px solid #f00a66;
}

.bottom button:active {
  color: #f00a66;
  background-color: white;
  border: 2px solid #f00a66;
}

.bottom p{
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.return, .return a {
  font-weight: bold;
  color: gray;
  padding-bottom: 3rem;
}


@media screen and (max-width: 817px) {


  .option:last-child {
    margin-top:4rem;
  }
}

@media screen and (max-width: 565px) {


  .option:nth-child(2) {
    margin-top:4rem;
  }
}